<div class="row" *ngIf="togglebtn" class="togglebtn">
    <fa-icon class="fa-expand" [icon]="['fas', 'expand']"></fa-icon>
    <button id ="animated-example" class="animated flipInY" (click)="commontoggle()">Toggle</button><br>
    <button class="btn-logout animated flipInY"><a href="/logout">Logout</a></button>
</div>
<nav class="navstyle navbar sidebar navbar-default navbar-static-top m-b-0" style="z-index: 12;">
    <div class="navbar-header " style="position: fixed; background: white;">
        <div style="background: white;">
            <img src="https://www.uniphore.com/wp-content/themes/uniphore/assets/img/logo_uniphore.png" style="height: 45px;">
<!-- ../../assets/images/Uniphore.png -->
            
        </div>
    </div>
    <span class="agentName">{{agentname}}</span>
    <fa-icon class="fa-usericon" (click)="Togglebtnshow()" [icon]="['fas', 'user-circle']"></fa-icon>
</nav>