.navstyle{
    background-color: #ffff;
    height : 45px;
}
img{
   padding: 5px;
}

.togglebtn{
    right: 33px;
    z-index: 13;
    top: 50px;
    height: 58px;
    // background-color: #3c4452;
    position: absolute;
}
.btn-logout{
   background: black;
   color: white;
   width: 100%;
   height: 34px;
}
.btn-logout:hover
{
   color: yellow;
}
.fa-usericon{
    position: absolute;
    right:20px;color:#f6c435;
    font-size: 2rem;
    cursor: pointer;
}
.fa-expand{
    position: absolute;
    color: white;
    top: 18px;
    left: 18px;
    font-size: 15px;
    z-index: 1;
}
.fa-expand:before {
    content: none;
}
.agentName{
    z-index: 1;
    position: absolute;
    right: 60px;
}
.animated{
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.flipInY{
    background-color: #242424;
    cursor: pointer;
    color: #ffff;
    border: none;
    margin-top: 10px;
    padding: 6px 40px;
}
@-webkit-keyframes flipInY {
    0% {
       -webkit-transform: perspective(400px) rotateY(90deg);
       opacity: 0;
    }
    40% {
       -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
       -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
       -webkit-transform: perspective(400px) rotateY(0deg);
       opacity: 1;
    }
 }
 
 @keyframes flipInY {
    0% {
       transform: perspective(400px) rotateY(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateY(-10deg);
    }
    70% {
       transform: perspective(400px) rotateY(10deg);
    }
    100% {
       transform: perspective(400px) rotateY(0deg);
       opacity: 1;
    }
 }
 
 .flipInY {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
 }