<!-- <ng-template #temp2> -->
<div class="container-card">
    <h2 mat-dialog-title>Edit Call Summary</h2>
    <input class="infield" matInput [(ngModel)]="data" autofocus>
    <mat-dialog-actions>
        <button class="mat-raised-button cancel-btn" (click)="close('close')">Cancel</button>
            <button class="mat-raised-button savechanges-btn" (click)="saveMessage()">Save
            Changes</button>
    </mat-dialog-actions>
</div>
<!-- </ng-template> -->