<!-- <ng-template #temp1> -->
        <h2 mat-dialog-title>{{cardheader}}</h2>
        <mat-dialog-actions>
            <button class="mat-raised-button" (click)="close('Need Changes')">Need Changes</button>
            <button style="position: absolute;right: 36%;" class="mat-raised-button" (click)="close('I am Fine')">I am Fine</button>
        </mat-dialog-actions>
    <!-- </ng-template> -->
    
