<div *ngFor="let data of seasons">
    <label style="margin-right: 60px;" id="example-radio-group-label">{{data.header}}</label>
    <mat-form-field>
        <br>
        <mat-select [(value)]="data.items[0]">
            <mat-option *ngFor="let item of data.items" class="form-control" [value]="item">
                {{item}} 
            </mat-option>
        </mat-select>   
    </mat-form-field>
    <br>
</div>
<button class="mat-raised-button savechanges-btn" (click)="saveMessage(value)">Save Changes</button>