$bodybackgroud : #efefef;
$inputfieldheight : 38px;
$cardbordercolor : 2px solid silver;
$cardbordernone : none !important;
$fontfamily : 'roboto';
$boxborder: 1px solid lightslategrey; 

.bodycontainer{
  background-color: $bodybackgroud;
  font-family: $fontfamily;
}
.fileUploaderCard{
  height: 83px;
  top:5px; 
  border: $cardbordernone;
}
// .mat-select-arrow{
//   color: white;
// }
#fa-phone{
  margin-left: 15px;
}

.minus-icon{
  position: absolute;
  right: 20px;
  top: 9px;
}
.exchange-icon{
  position: absolute;
  right: 50px;
  top: 9px;
}

.btnstyl {
  font-family: $fontfamily;
  height: $inputfieldheight;
  border: $boxborder;
  background: #ffff;
}
.inputfield{
  @extend .btnstyl;
  width: 50%;
} 
.reInputfield{
  @extend .btnstyl;
  width: 39%;
}
.btnsltfile{
  @extend .btnstyl;
  margin-left: -2px;
}
.btnrmvitem{
  @extend .btnstyl;
}
.btnupload{
  @extend .btnstyl;
  margin-left: 25px;
  width: 100px;
}
.audio-wave{
  @extend .btnstyl;
  padding: 5px 12px;
}
.fafilestyl{
  position: absolute;
  top: 38px;
  left: 24px;
}
.Customercardstyl{
  height: 36px; 
  top:10px; 
  border: $cardbordernone;
  margin-bottom: 5px;
}
.labelsize{
  font-weight: bold;
}
.labeldiv{
  font-size: 16px
}
// .infocardcontainer{
//   margin-top: 15px;
// }
.Userinfomation{
  margin-top:13px;
  border: $cardbordercolor;
}
.leftcardMain{
  margin-right: 10px;
}
.leftcardtop{
  height: 230px !important;
  margin : 0px -5px 0px 15px;
  border: $cardbordernone;
}
.leftcardbtm_data{
  height: 185px;
  margin-bottom: 5px;
  border: $cardbordercolor;
  z-index: 1;  
}
.leftcardbtm{
  height: 230px !important;
  margin : 5px -5px 0px 15px;
  border: $cardbordernone;
}
.middlecard{
  margin-right: -10px;
}
.carddata{
  height: 88%;
  margin : 0px 15px 20px;
  border: $cardbordercolor;
  overflow-y: auto;
  overflow-x: hidden;
}
.carddataRedalert{
  border: 2px solid red;
  height: 185px;
  margin: 0px 15px;
  overflow-y: auto;
}
.cardContents{
  height : 100%;
  //width : 440px;
  margin-bottom : 5px;
  border: $cardbordernone;
  z-index : 1;
}
.rightcardtop{
  @extend .cardContents;
}
.middlecardTop{
  margin-right: 5px;
  height : 465px !important;
  @extend .cardContents;
}
.rightcardtopdata{
  border: $cardbordercolor;
  height: 185px;
  margin: 0px 15px;
  overflow-y: auto;
}

.loader-gif{
  height: 15px;
  left: 40%;
  position: relative;
  padding: 3px;
}

input#file {
    display: inline-block;
    width: 0%;
    padding: 40px 0 0 0;
    height: 40px;
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    background-size: 60px 60px;
  }
  button{
    background-color: #ffff;
    border: 1px solid lightslategrey
  }

  #CustomerHis{
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left:30px;
  }
  .Blink {
    animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: green;
  }

  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .labelname{
    font-weight: 600;
    font-size: 15px;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 2px;
  }
.cardlabel{
  padding-left: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}  

  @media screen and (max-width : 992px) and (min-width : 768px){
    .btnupload{
      margin-left: 0px;
    }
  }
  @media screen and (max-width : 840px) and (min-width : 768px){
    .btnupload{
      width : 80px;
    }
  }

  @media screen and (max-width : 767px){
    .fileUploaderCard{
      height: 150px;
      width: 100%;
    }
    .specview{
      margin-bottom: 15px;
    }
    .btnupload{
      width: 80px;
    }
    .Customercardstyl{
      height: 80px;
    }
    .overriderow{
      display: inline-grid !important;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right : 15px;
    }
    .leftcardtop{
      height: 462px !important;
      margin : 0px 255px 0px 15px;
      padding: 0px 10px;
      border: none !important;
    }
    .leftcardbtm{
      height: 462px !important;
      margin : 0px 255px 0px 15px;
      padding: 0px 10px;
      border: none !important;
    }
    .middlecardTop{
      margin : 5px 15px 0px 15px;
    }
    .rightcard{
      margin : 5px 0px 0px 15px;
    }
    .rightcardtop{
      margin-right : -15px;
    }
  }

  .fa-exclamation-circle{
    color: orange;
  }

  .fa-exclamation-triangle{
    color:red;
  }

  .fa-bell{
    color:lightseagreen;
  }
  
  .minimize-bar{
    height: 35px;
    position:absolute;
    bottom:0px;
    z-index: 1;
  }
  
  .minispan{
    margin-left: 16px;
    padding: 6px;
    font-size: 15px;
    border-radius : 15px;
    background : #e7a61a;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  }
  .minimize-span{
    @extend .minispan;
    cursor: pointer;
  }
  
  .minimize-spanblock{
    @extend .minispan;
    cursor: not-allowed;
  }


  .left-style{
    float:left;
    width:47%;
    margin-left : 15px;
}
.right-style{
    float:right;
    width:47%;
}
.dragIcon{
  cursor: pointer;
}
.dragItemalign{
  cursor: pointer;
  position: absolute;
  bottom:1%;
}
.dragIconrightmiddle{
  @extend .dragItemalign;
  left : 98%;
}
.dragIconleftmiddle{
  @extend .dragItemalign;
  right : 50%;
  bottom : 1px;
}
.middlecardresize{
  height: 463px !important;
} 
.rightcardresizehor{
  left : -102%;
  width: 202%;
}

.expandTranscription{
  width: 202%;
}


.maincard{ 
  padding-left: 0px !important;
  margin-top : 10px;
}
.arrowpositionU{
  position : absolute;
  bottom: 0;
  right: 50%;
}
.arrowpositionD{
  position : absolute;
  top: 0;
  right: 50%;
}
.arrowpositionL{
  position : absolute;
  left: 0;
  top: 50%;
}
.arrowpositionR{
  position : absolute;
  right: 0;
  top: 50%;
}

.element{
  border: none !important;
  z-index: 1; 
  position: absolute;
}
.elementleft{
 margin-left:15px;
  border: none !important;
  z-index: 1; 
  position: absolute;
}
.rightArrowaline{
  position: absolute;
  top : 50%;
  right: 0;
}
.leftArrowaline{
  position: absolute;
  top : 50%;
  left: 0;
}
textarea{
  width: 100%;
  height: 100%;
}
.Current_timedate{
  position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 14px;
    font-family: initial;
}
.drop-down-disposition{
  margin-left: 20px;
  label{
    margin-bottom: 0;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 5px !important;
  }
  .mat-select{
    border: 1px solid gray;
    border-radius: 8px;
    width: 85%;
  }
  .mat-select-value{
    text-align: center;
  }
}
.submit_submit_stl{
  width: 75px;
  margin: 3px;
  position: absolute;
  right: 18px;
  bottom: 0;
}
.edit_submit_stl{
  width: 60px;
  position: absolute;
  left: 18px;
  bottom: 0;
  margin: 3px;
}
.mat-select-panel{
  font-size: 12px !important;
}
.form-row>.col, .form-row>[class*=col-]{
  margin-top: 5px;
}
// <label style="margin: 0rem" [innerHTML]="right.id ==3 ? transcription : 
//                             (right.id == 5 ? alert : (right.id == 6 ? summary :
//                             (right.id == 2 ? disposition:(right.id == 4 ? sentiment:''))))"></label>