<app-header [agentName]="agentname"></app-header>
<div class="container-fluid bodycontainer">
    <!-- FileUpload card-1 -->
    <!-- <div class="card fileUploaderCard">
        <div class="row col-12">
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <label class="labelname">File upload (Audiodsf)</label>
                <div style="margin-left: 0%" class="row">
                    <input [ngClass]="fileUploaded == true? 'reInputfield' : 'inputfield'" type="button"
                        class="inputfield" [(ngModel)]="filename" />
                    <span *ngIf="fileUploaded" class="fafilestyl">
                        <fa-icon [icon]="['fas', 'file']"></fa-icon>
                    </span>
                    <input #myinputField accept=".wav" id="file" type="file" class="form-control"
                        (click)="myinputField.value = null" value="selectedfiledetails"
                        (change)="onFileSelected($event)">
                    <button class="btnsltfile" *ngIf="!fileUploaded" (click)="myinputField.click()">SELECT
                        FILE</button>
                    <button class="btnsltfile" *ngIf="fileUploaded" (click)="myinputField.click()">CHANGE</button>
                    <button class="btnrmvitem" *ngIf="fileUploaded" (click)="removeFile()">REMOVE</button>
                    <button class="btnupload" type="button" *ngIf="dispupload"
                        (click)="wavfileUploded()">UPLOAD</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Customer Card-2 -->
    <div class="card Customercardstyl" *ngIf="!afterUpload">
        <div class="row" style="padding-top: 5px">
            <div class="col-md-2 col-sm-6 labeldiv" style="padding-left: 50px;">
                <label style="margin-left:-20px" class="labelsize" (click)="openDialogTest('summary')">Call Id:
                    {{callid}}</label>
            </div>
            <div class="col-md-3 col-sm-6 labeldiv">
                <label style="margin-left:-18px" class="labelsize" (click)="openDialogTest('disposition')">Agent:
                    {{agentname}}</label>
            </div>
            <div class="col-md-3 col-sm-6 labeldiv">
                <label style="margin-left: 15px;" (click)="checkalert()" class="labelsize">Customer:
                    {{custname}}</label>
            </div>
            <div class="col-md-4 col-sm-6 labeldiv">
                <label style="margin-left: -10px;" class="labelsize">Category: {{category}}</label>
                <!-- Date: {{ date | date:'medium' }}  -->
            </div>
        </div>
    </div>

    <!-- infocardcontainer Card-3 -->
    <div class="row infocardcontainer overriderow" *ngIf="!afterUpload">
        <div class="col maincard">
            <div *ngFor="let right of All_cards; let i = index">
                <div class="card" [ngClass]="right.pos == 0 || right.pos == 1 ? 'elementleft' : 'element'"
                    [style.height.px]="right.height" [style.width.px]="right.width" [style.top.px]="right.top"
                    [style.left.px]="right.left">
                    <div>
                        <i class="fa fa-phone Blink" id="fa-phone" aria-hidden="true" [hidden]="right.id!==3"></i>
                        <label class="cardlabel">{{right.title}}</label>
                        <span [class.arrowpositionD]="(right.pos == 3 || right.pos == 5)">
                            <i *ngIf="right.pos==3 || right.pos==5" [className]="right.arrow.u" (click)="resize(i,'u')"
                                aria-hidden="true"></i>
                        </span>
                        <span [class.arrowpositionU]="(right.pos == 2 || right.pos == 4)">
                            <i *ngIf="right.pos==2 || right.pos==4" [className]="right.arrow.d" (click)="resize(i,'d')"
                                aria-hidden="true"></i>
                        </span>
                        <span [class.arrowpositionL]="(right.pos == 4 || right.pos == 5)">
                            <i *ngIf="right.pos==4 || right.pos==5" [className]="right.arrow.l" (click)="resize(i,'l')"
                                aria-hidden="true"></i>
                        </span>
                        <span [class.arrowpositionR]="(right.pos==1 || right.pos == 2 || right.pos == 3)">
                            <i *ngIf="right.pos==1 || right.pos==2 || right.pos==3" [className]="right.arrow.r"
                                (click)="resize(i,'r')" aria-hidden="true"></i>
                        </span>
                        <div *ngIf="right.pos != 0">
                            <button id="right.pos" style="cursor: pointer; border: none"
                                class='fa fa-exchange exchange-icon' (click)="swapContent(i)">
                            </button>
                        </div>
                        <div *ngIf="(right.pos != 0 && right.pos != 1)">
                            <button style="cursor: pointer; border: none" class='fa fa-minus minus-icon'
                                (click)="minimize(right, i)"></button>
                        </div>
                    </div>
                    <div class="card carddata" #scrollMewwr
                        [scrollTop]="(right.id==1 || right.id==3 || right.id==5) ? scrollMewwr.scrollHeight:''"
                        [attr.id]="right.id == 5 ? 'alertdiv':''">
                        <div *ngIf="(right.pos == 0)" class="card leftcardTop">
                            <img id="usercard" src="assets/images/dashboard_sent.png" style="height: 206px">
                        </div>

                        <label style="margin: 0rem" [innerHTML]="right.id ==3 ? transcription : 
                            (right.id == 5 ? alert : (right.id == 4 ? sentiment:''))"></label>

                        <!-- call summary -->
                        <label style="margin: 0rem" [innerHTML]="right.id == 6 ? summary : ''"
                            *ngIf="!summaryEditclicked && right.id == 6"></label>
                        <textarea type="text" [(ngModel)]="copiedsummarydata"
                            *ngIf="summaryEditclicked && right.id==6"></textarea>

                        <label *ngIf="summarytimestamplabel && right.id == 6" class="Current_timedate">
                            Submitted : {{ currentDate | date: 'dd-MMMM-yyyy hh:mm a' }}
                        </label>
                        <div *ngIf="right.id == 6 && summary.length > 0">
                            <button class="btn btn-sm btn-primary mat-raised-button edit_submit_stl"
                                (click)="EditApiValue('editSummary')">Edit</button>
                            <button class="btn btn-sm btn-primary mat-raised-button submit_submit_stl"
                                (click)="SubmitValue('submitSummary')">Submit</button>
                        </div>
                        <!-- call summary ends -->
                        <!-- call disposition -->

                        <!-- <label style="margin: 0rem" [innerHTML]="right.id == 2 ? disposition : ''"
                            *ngIf="!dispositionEditclicked && right.id == 2"></label> -->

                        <div *ngIf="(dispositionEditclicked && right.id == 2)">
                            <div class="form-row drop-down-disposition">
                                <div class="col-6" *ngFor="let data of seasons">
                                    <label for="inputPassword4">{{data.header}}</label>
                                    <!-- <form [formGroup]="patientCategory"> -->
                                    <mat-select (selectionChange)="filterdataselected($event)" [(value)]="data.items[0]"
                                        [disabled]='blockdropdown'>
                                        <mat-option *ngFor="let item of data.items" class="form-control" [value]="item">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- </form> -->
                                </div>
                            </div>
                            <label *ngIf="distimestamplabel && right.id == 2" class="Current_timedate">
                                Submitted : {{ currentDate | date: 'dd-MMMM-yyyy hh:mm a' }}
                            </label>
                                <!-- && disposition.length > 0 -->
                                <button class="btn btn-sm btn-primary mat-raised-button edit_submit_stl"
                                    (click)="EditApiValue('editDisp')">Edit</button>
                                <button class="btn btn-sm btn-primary mat-raised-button submit_submit_stl"
                                    (click)="SubmitValue('submitDisp')">Submit</button>
                        </div>
                        <!-- call summary ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="minimizedArray.length>0" class="minimize-bar">
    <span *ngFor="let content of minimizedArray;let i = index">
        <button class="minimize-span" (click)="maximize(content,i)"
            [disabled]="!positions[2] && !positions[3] && !positions[4] && !positions[5]"
            [ngClass]="true ? 'minimize-spanblock' : 'minimize-span'">{{content.title}}</button>
    </span>
</div>

<!-- Alerts -->
<div *ngIf="showalert" class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="background: antiquewhite;border: none;">
            <div class="modal-header">
                <h6 class="modal-title">{{alertdata}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>